* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    margin: 0;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    color: white;
}

.div-logo img {
    height: 70px;
    width: auto;
}

header {
    width: 100%;
    height: 90px;
    background-color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    text-decoration: none;
    color: #F29F05;
    font-size: 20px;
}

.corpo {
    margin-top: 90px;
    display: flex;
    width: 100vw;
    background-color: rgb(36, 36, 36);
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.corpo > h1 {
    color: #F29F05;
}

.rodape {
    border-top: 1px solid darkgray;
    width: 100vw;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    background-color: black;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.rodape>a {
    color: lightgray;
    text-decoration: none;
}

.link-whatsapp {
    position: fixed;
    margin: 0;
    padding: 0;
    right: -20px;
    top: 160px;
    z-index: 4;
}

span {
    color: lightgray;
}

p {
    margin: 0;
}

iframe {
    border-radius: 4px;
    margin: 12px;
}

.tipos {
    min-width: 200px;
    max-height: 350px;
    background-color: #f0f0f0;
    text-align: justify;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
}

.tipos > img {
    width: 50%;
    height: 170px;
}

.marcas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #F29F05;
    text-align: center;
}

.marcas>img {
    border: 1px solid rgb(50, 50, 50);
    border-radius: 6px;
    margin: 8px;
    width: 150px;
    height: 80px;

}

.accordion {
    border-radius: 6px;
    background-color: rgb(23, 23, 23);
}

.accordion>h1 {   
    text-align: center;
    color: #F29F05;
    padding: 2px;
    border-bottom: 2px solid #F29F05;
}

.accordion>h2 {
    margin-left: 12px;
    font-size: 20px;
    color: white;
}

.accordion-item {
    margin: 0;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #000 !important;
    border-color: #ddd !important;
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button {
    background-color: #f8f9fa !important;
    color: #000 !important;
    box-shadow: none !important;
    outline: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.accordion-collapse {
    border-top: 1px solid #bebebe;
    margin-top: 0;
    padding-top: 10px;
}

.duvidas {
    margin-top: 20px;
    text-align: center;
    color: #F29F05;
}

.duvidas p {
    margin: 0;
    color: white;
}

.quem-somos {
    padding: 12px;
    margin-top: 14px;
    text-align: justify;  
    border-radius: 6px;
    background-color: rgb(23, 23, 23); 
}

.quem-somos > h1 {
    text-align: center;
    color: #F29F05;
}

.quem-somos > img {
    width: 320px; 
    border-radius: 4px;
}

.your-class, .your-class2 {
    width: 100%;
    margin: 0 auto;
}

.your-class .slick-slide img, .your-class2 .slick-slide img {
    width: 100%;
    height: auto;
}

