* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
}

.div-logo {
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 1;
}

#corpoHome {
    display: flex;
    width: 100%;
    background-color: rgb(36, 36, 36);
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #F29F05;
    text-align: center;
    padding: 4px;
}

.lista-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.lista-nav li {
    display: inline-block;
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.lista-nav li a {
    text-decoration: none;
    color: black;
}

.rodape {
    border-top: 1px solid #303030;
    width: 100vw;
    height: 12.16vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    color: white;
    z-index: 1;
    background-color: black;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.link-whatsapp {
    position: fixed;
    margin: 0;
    padding: 0;
    right: -20px;
    bottom: 100px;
}

.whatsapp {
    position: fixed;
    z-index: 3;
    right: 0px;
    bottom: 100px;
}

.rodape > a {
    color: #d3d3d3;
}

.link-rodape {
    text-align: center;
    width: 100px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

span {
    color: lightgray;
}

p {
    margin: 0;
}

.mapa {
    margin-top: 20px;
}

.carrossel {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.carrossel-items {
    display: flex;
    transition: transform 0.5s ease;
}

.carrossel-items img {
    width: 300px;
    height: 200px;
}

#corpoSobre {
    background-color: #242424;
    text-align: left;
}

#corpoSobre > p {
    color: white;
    font-size: 12px;
    margin: 8px;
    margin-bottom: 16px;
}

.titulo-2 {
    text-align: center;
    color: #F29F05;
}

.content {
    margin-top: calc(17.38vh);
    height: 71.95%;
    display: none;
}

.corpo {
    display: none;
}