* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
}

.div-logo {
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    width: 100%;
    height: auto;
    background-color: black;
    z-index: 1;
}

.corpo {
    display: flex;
    width: 100%;
    height: calc(84vh);
    background-color: rgb(36, 36, 36);
    margin-top: 16vh;
    justify-content: center;
}

nav {
    background-color: #F29F05;
    text-align: center;
    padding: 4px;
}

nav > a {
    margin: 20px;
    text-decoration: none;
    color: black;
}

.rodape {
    border-top: 1px solid #a9a9a9;
    width: 100vw;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    color: white;
    z-index: 1;
    background-color: black;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.link-whatsapp {
    position: fixed;
    margin: 0;
    padding: 0;
    right: -20px;
    bottom: 100px;
}

.whatsapp {
    position: fixed;
    z-index: 3;
    right: 0px;
    bottom: 100px;
}

.rodape > a {
    color: #d3d3d3;
}

.link-rodape {
    text-align: center;
    width: 100px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

span {
    color: lightgray;
}

p {
    margin: 0;
}

.mapa {
    margin-top: 20px;
}